services:
  wordpress:
    read_only: false
    ports:
      - "8080:80"
    volumes:
      - ./wp-content:/var/www/html/wp-content   # bind mounts for live editing
    environment:
      WP_ENVIRONMENT_TYPE: development
      DISALLOW_FILE_MODS: "false"
      DISALLOW_FILE_EDIT: "false"
      WP_DEBUG_LOG: "true"
      ALLOW_CONFIG_EXTRA: true

  mariadb:
    profiles: ["dev"]

  cron:
    depends_on:
      mariadb:
        condition: service_healthy
    volumes:
      - ./wp-content:/var/www/html/wp-content